<div class="results-block">
<%= render 'layouts/messages'%>
</div>
  <div class="card card-header results-block">
  <% if @stock %>
  <strong> Symbol: </strong> <%= @stock.ticker %>
  <strong> Name: </strong> <%= @stock.name %>
  <strong> Price: </strong> <%= @stock.last_price %>
  <% end%>
  </div>
